@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
	font-size: 16px;
	font-family: roboto;
	font-weight: 500;
	background-color: rgb(197, 184, 184);
	color: #2e2a29;
	margin-top: 0px;


}

p {
	font-size: 17px;

}

a {
	background: rgb(97, 95, 95);
	color: white;
	padding: 5px 10px;
	border: none;
	font-family: roboto;
	cursor: pointer;
	border-radius: 5px;
	text-decoration: none;

}

a:hover {
	opacity: .8;
	color: rgb(255, 217, 0);
}


/* class */
.container {
	max-width: 50%;
	margin-left: 22.5%;
	padding-top: 30px;
}


.nav-link {
	margin-left: 20px !important;
	margin-right: 22px !important;
	text-align: center;
	padding: 8px 50px 8px 50px !important;
}

.mx-1 {
	padding: 8px 50px 8px 50px !important;
}

.mt-3 {
	margin-top: 1rem !important;
}

.card-text {
	color: rgb(255, 255, 255);
}

.btn {
	padding-bottom: 5px;
}

.navbar {
	margin-left: auto !important;
	margin-right: auto !important;
	border-radius: 0 0 25px 25px !important;
}

.auth {
	margin-left: 20px;
}

.nav-item {
	padding-bottom: 5px;
}

.navbar-link {
	margin-right: 20px !important;

}

@media (min-width: 576px) {

	footer,
	.navbar {
		max-width: 540px;
	}
}

@media (min-width: 768px) {

	footer,
	.navbar {
		max-width: 720px;
	}
}

@media (min-width: 992px) {

	footer,
	.navbar {
		max-width: 960px;
	}
}

@media (min-width: 1200px) {

	footer,
	.navbar {
		max-width: 1140px;
	}
}

@media (min-width: 1400px) {

	footer,
	.navbar {
		max-width: 1320px;
	}
}

.nav {
	display: flex;
	flex-wrap: wrap;
	padding-left: 0;
	margin-bottom: 0;
	list-style: none;
}

.nav-link {
	display: block;
	padding: .5rem 1rem;
	color: #ffffff;
	text-decoration: none;
	transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
}

@media (prefers-reduced-motion:reduce) {
	.nav-link {
		transition: none
	}
}

.nav-link:focus,
.nav-link:hover {
	color: #ffffff;
}

.nav-link.disabled {
	color: #6c757d;
	pointer-events: none;
	cursor: default
}

.nav-tabs {
	border-bottom: 1px solid #dee2e6
}

.nav-tabs .nav-link {
	margin-bottom: -1px;
	background: 0 0;
	border: 1px solid transparent;
	border-top-left-radius: .25rem;
	border-top-right-radius: .25rem
}

.nav-tabs .nav-link:focus,
.nav-tabs .nav-link:hover {
	border-color: #e9ecef #e9ecef #dee2e6;
	isolation: isolate
}

.nav-tabs .nav-link.disabled {
	color: #6c757d;
	background-color: transparent;
	border-color: transparent
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
	color: #495057;
	background-color: #fff;
	border-color: #dee2e6 #dee2e6 #fff
}

.nav-tabs .dropdown-menu {
	margin-top: -1px;
	border-top-left-radius: 0;
	border-top-right-radius: 0
}

.nav-pills .nav-link {
	background: 0 0;
	border: 0;
	border-radius: .25rem
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
	color: #fff;
	background-color: #0d6efd
}

.nav-fill .nav-item,
.nav-fill>.nav-link {
	flex: 1 1 auto;
	text-align: center
}

.nav-justified .nav-item,
.nav-justified>.nav-link {
	flex-basis: 0;
	flex-grow: 1;
	text-align: center
}

.nav-fill .nav-item .nav-link,
.nav-justified .nav-item .nav-link {
	width: 100%
}

.tab-content>.tab-pane {
	display: none
}

.tab-content>.active {
	display: block
}

.navbar {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	padding-top: .5rem;
	padding-bottom: .5rem
}

.navbar>.container,
.navbar>.container-fluid,
.navbar>.container-lg,
.navbar>.container-md,
.navbar>.container-sm,
.navbar>.container-xl,
.navbar>.container-xxl {
	display: flex;
	flex-wrap: inherit;
	align-items: center;
	justify-content: space-between
}

.navbar-brand {
	padding-top: .3125rem;
	padding-bottom: .3125rem;
	margin-right: 1rem;
	font-size: 1.25rem;
	text-decoration: none;
	white-space: nowrap
}

.navbar-nav {
	display: flex;
	flex-direction: column;
	padding-left: 0;
	margin-bottom: 0;
	list-style: none
}

.navbar-nav .nav-link {
	padding-right: 0;
	padding-left: 0
}

.navbar-nav .dropdown-menu {
	position: static
}

.navbar-text {
	padding-top: .5rem;
	padding-bottom: .5rem
}

.navbar-collapse {
	flex-basis: 100%;
	flex-grow: 1;
	align-items: center
}

.navbar-toggler {
	padding: .25rem .75rem;
	font-size: 1.25rem;
	line-height: 1;
	background-color: transparent;
	border: 1px solid transparent;
	border-radius: .25rem;
	transition: box-shadow .15s ease-in-out
}

.navbar-nav-scroll {
	max-height: var(--bs-scroll-height, 75vh);
	overflow-y: auto
}

@media (min-width:576px) {
	.navbar-expand-sm {
		flex-wrap: nowrap;
		justify-content: flex-start
	}

	.navbar-expand-sm .navbar-nav {
		flex-direction: row
	}

	.navbar-expand-sm .navbar-nav .dropdown-menu {
		position: absolute
	}

	.navbar-expand-sm .navbar-nav .nav-link {
		padding-right: .5rem;
		padding-left: .5rem
	}

	.navbar-expand-sm .navbar-nav-scroll {
		overflow: visible
	}

	.navbar-expand-sm .navbar-collapse {
		display: flex !important;
		flex-basis: auto
	}


}

@media (min-width:768px) {
	.navbar-expand-md {
		flex-wrap: nowrap;
		justify-content: flex-start
	}

	.navbar-expand-md .navbar-nav {
		flex-direction: row
	}

	.navbar-expand-md .navbar-nav .dropdown-menu {
		position: absolute
	}

	.navbar-expand-md .navbar-nav .nav-link {
		padding-right: .5rem;
		padding-left: .5rem
	}

	.navbar-expand-md .navbar-nav-scroll {
		overflow: visible
	}

	.navbar-expand-md .navbar-collapse {
		display: flex !important;
		flex-basis: auto
	}


}

@media (min-width:992px) {
	.navbar-expand-lg {
		flex-wrap: nowrap;
		justify-content: flex-start
	}

	.navbar-expand-lg .navbar-nav {
		flex-direction: row
	}

	.navbar-expand-lg .navbar-nav .dropdown-menu {
		position: absolute
	}

	.navbar-expand-lg .navbar-nav .nav-link {
		padding-right: .5rem;
		padding-left: .5rem;
		margin-right: 20px
	}

	.navbar-expand-lg .navbar-nav-scroll {
		overflow: visible
	}

	.navbar-expand-lg .navbar-collapse {
		display: flex !important;
		flex-basis: auto
	}

}

@media (min-width:1200px) {
	.navbar-expand-xl {
		flex-wrap: nowrap;
		justify-content: flex-start
	}

	.navbar-expand-xl .navbar-nav {
		flex-direction: row
	}

	.navbar-expand-xl .navbar-nav .dropdown-menu {
		position: absolute
	}

	.navbar-expand-xl .navbar-nav .nav-link {
		padding-right: .5rem;
		padding-left: .5rem
	}

	.navbar-expand-xl .navbar-nav-scroll {
		overflow: visible
	}

	.navbar-expand-xl .navbar-collapse {
		display: flex !important;
		flex-basis: auto
	}


}

@media (min-width:1400px) {
	.navbar-expand-xxl {
		flex-wrap: nowrap;
		justify-content: flex-start
	}

	.navbar-expand-xxl .navbar-nav {
		flex-direction: row
	}

	.navbar-expand-xxl .navbar-nav .dropdown-menu {
		position: absolute
	}

	.navbar-expand-xxl .navbar-nav .nav-link {
		padding-right: .5rem;
		padding-left: .5rem
	}

	.navbar-expand-xxl .navbar-nav-scroll {
		overflow: visible
	}

	.navbar-expand-xxl .navbar-collapse {
		display: flex !important;
		flex-basis: auto
	}

}

.navbar-expand {
	flex-wrap: nowrap;
	justify-content: flex-start
}

.navbar-expand .navbar-nav {
	flex-direction: row
}

.navbar-expand .navbar-nav .dropdown-menu {
	position: absolute
}

.navbar-expand .navbar-nav .nav-link {
	padding-right: .5rem;
	padding-left: .5rem
}

.navbar-expand .navbar-nav-scroll {
	overflow: visible
}

.navbar-expand .navbar-collapse {
	display: flex !important;
	flex-basis: auto
}

.navbar-light .navbar-brand {
	color: rgba(0, 0, 0, .9)
}

.navbar-light .navbar-brand:focus,
.navbar-light .navbar-brand:hover {
	color: rgba(0, 0, 0, .9)
}

.navbar-light .navbar-nav .nav-link {
	color: rgba(0, 0, 0, .55)
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
	color: rgba(0, 0, 0, .7)
}

.navbar-light .navbar-nav .nav-link.disabled {
	color: rgba(0, 0, 0, .3)
}

.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .show>.nav-link {
	color: rgba(0, 0, 0, .9)
}


.navbar-light .navbar-text {
	color: rgba(0, 0, 0, .55)
}

.navbar-light .navbar-text a,
.navbar-light .navbar-text a:focus,
.navbar-light .navbar-text a:hover {
	color: rgba(0, 0, 0, .9)
}

.navbar-dark .navbar-brand {
	color: #fff
}

.navbar-dark .navbar-brand:focus,
.navbar-dark .navbar-brand:hover {
	color: #fff
}

.navbar-dark .navbar-nav .nav-link {
	color: rgba(255, 255, 255, .55)
}

.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover {
	color: rgba(255, 255, 255, .75)
}

.navbar-dark .navbar-nav .nav-link.disabled {
	color: rgba(255, 255, 255, .25)
}

.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .show>.nav-link {
	color: #fff
}

.navbar-dark .navbar-text {
	color: rgba(255, 255, 255, .55)
}

.navbar-dark .navbar-text a,
.navbar-dark .navbar-text a:focus,
.navbar-dark .navbar-text a:hover {
	color: #fff
}

/*  */

.bgrow {
	padding: 50px;
	border-radius: 50px !important;
	background-color: #ffffff4d !important;
	box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.25);
}

.bg-dark {
	background-color: #212529f2 !important;
}


.card {
	border-radius: 5px;
	border: 5px solid #c8785e00;
	padding-left: 15px;
	background: #c8785eba;
	margin-bottom: 5px;
}

.info {
	margin-bottom: 20px;
	display: flex;
}

.info-text {
	margin-left: 40px;
}

.info-text p {
	font-style: italic;
	font-weight: bold;

}

.btn {
	background: rgb(97, 95, 95);
	color: white;
	padding: 5px 10px;
	border: none;
	cursor: pointer;
	font-family: roboto;
	border-radius: 5px;
	text-decoration: none;

}

.btn:hover {
	opacity: .8;
	color: rgb(255, 217, 0);
}

.list {
	color: #5d5f63;
}

.table {
	width: 100%;
	margin: 10px 5px;
}

.table td {
	padding-bottom: 10px;
}

.table td:nth-child(2),
td:nth-child(3) {
	color: #5d5f63;
}

.form h2 {
	text-align: center;
}

.form-group label {
	display: block;
	font-size: 14px;
	color: #5d5f63;
}

.form-group input,
.form-group textarea {
	width: 100%;
	box-sizing: border-box;
	border: none;
	background: transparent;
	border-bottom: 1px solid #ccc;
	color: #000;
	padding: 15px 0 10px;
	outline: none;
	font-family: inherit;
}

.form-row {
	margin-bottom: 10px;
	display: flex;
}

.form-row .form-group {
	margin-right: 20px;
	width: 50%;

}

.form-row .form-group:last-child {
	margin-right: none;
}

/* id */
#avatar {
	border-radius: 250px;
	border: solid 6px #c8795e !important;
	box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.25);
	height: 150px;
}